<div class="container">
  <div class="select-container">
    <select [formControl]="sourceTypeForm">
      <option value="positive">긍정 분석</option>
      <option value="star">평점 분석</option>
      <option value="feel">감정 분석</option>
    </select>
  </div>
  <textarea id="long-text-input" [formControl]="originTextForm" placeholder="Enter your text here..."></textarea>
  <button id="generate-button" [disabled]="loading ? true : null" (click)="generate()">
    <span id="spinner" *ngIf="loading && model?.length">🔄</span> Classification
  </button>
  <div id="output-div" *ngIf="output?.length">
    <p>{{ output }}</p>
    <p>Score: {{ score | number: '1.0-2' }}</p>
  </div>
</div>
