<h3>Context로 학습한 내용에 대한 질문을 답할 수 있다.</h3>
<div class="container">
  <textarea id="long-text-input" [formControl]="questionForm" placeholder="Enter your question here..."></textarea>
  <textarea id="long-text-input" [formControl]="contextForm" placeholder="Enter your context here..."></textarea>
  <button id="generate-button" [disabled]="loading ? true : null" (click)="generate()">
    <span id="spinner" *ngIf="loading && questionForm.value?.length && contextForm.value?.length">🔄</span> Response
  </button>
  <div id="output-div" *ngIf="output?.length">
    <p>{{ output }}</p>
  </div>
</div>
