<a routerLink="/text-ai/summary" routerLinkActive="active">Summary</a>
<a routerLink="/text-ai/translator" routerLinkActive="active">Translator</a>
<a routerLink="/text-ai/classification" routerLinkActive="active">Classification</a>
<a routerLink="/text-ai/feature-extraction" routerLinkActive="active">Feature Extraction</a>
<a routerLink="/text-ai/qa" routerLinkActive="active">QA</a>
<a routerLink="/text-ai/fillmask" routerLinkActive="active">FillMask</a>
<a routerLink="/text-ai/text2text-generation" routerLinkActive="active">Text2TextGeneration</a>
<a routerLink="/text-ai/text-generation" routerLinkActive="active">TextGeneration</a>
<a routerLink="/text-ai/text-to-audio" routerLinkActive="active">Text to Audio</a>

<div class="container">
  <router-outlet></router-outlet>
</div>
