<div class="container">
  <div class="select-container">
    <select [formControl]="sourceTypeForm">
      <option value="gender">성별 분석</option>
      <option value="finetune">소리 분석 - huggingface error</option>
    </select>
  </div>
  <textarea id="long-text-input" [formControl]="originTextForm" placeholder="나중에 url 받을 예정..."></textarea>
  <button id="generate-button" [disabled]="loading() ? true : null" (click)="generate()">
    <span [ngClass]="{'loader': loading() && originTextForm.value?.length ? true : false}"></span> Classification
  </button>
  <p class="elapsed-time">{{ elapsedTime() | number: '1.1-1' }} Seconds</p>
  <div id="output-div" *ngIf="output()?.length">
    <p>{{ output() }}</p>
    <p>Score: {{ score() | number: '1.0-2' }}</p>
  </div>
</div>

