<h1>오디오 분석</h1>
<div class="select-container">
  <select [formControl]="sourceTypeForm">
    <option value="gender">성별 분석</option>
    <option value="finetune">소리 분석</option>
  </select>
</div>
<!-- <textarea id="long-text-input" [formControl]="originTextForm" placeholder="나중에 url 받을 예정..."></textarea> -->
<audio id="audio" controls>
  <source [src]="audioUrl()" type="audio/wav">
</audio>
<button id="generate-button" [disabled]="loading() ? true : null" (click)="generate()">
  <span [ngClass]="{'loader': loading()}"></span> Run
</button>
<p class="elapsed-time">{{ elapsedTime() | number: '1.1-1' }} Seconds</p>
<div id="output-div" *ngIf="output()?.length">
  <table>
    <tr>
      <th>Label</th>
      <th>Score</th>
    </tr>
    <tr *ngFor="let item of output()">
      <td>{{ item.label }}</td>
      <td>{{ (item.score * 100) | number: '1.2-2' }}</td>
    </tr>
  </table>
</div>

