@import '../../loading.scss';

.translator {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.select-container {
  width:100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.select-container select {
  // 양 끝에 display 되도록

  padding: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #2980b9;
}

button:disabled {
  background-color: #b3c2c8;
  cursor: not-allowed;
}

.result {
  margin-top: 20px;
  border: 1px solid #ddd;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#spinner {
  display: inline-block;
  margin-right: 10px;
  animation: spin 1s linear infinite;
}
.elapsed-time {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  text-align: right;
}
