<a routerLink="/summary">Summary</a>
<a routerLink="/translator">Translator</a>
<a routerLink="/classification">Classification</a>
<a routerLink="/audio-classification">Audio Classification</a>
<a routerLink="/qa">QA</a>
<a routerLink="/fillmask">FillMask</a>
<a routerLink="/text2text-generation">Text2TextGeneration</a>
<a routerLink="/text-generation">TextGeneration</a>

<router-outlet></router-outlet>

<pre>
적용하지 않은 내용
- FeatureExtractionPipeline
- ImageFeatureExtractionPipeline
- ZeroShotAudioClassificationPipeline
- AutomaticSpeechRecognitionPipeline
- ImageToTextPipeline
- ImageClassificationPipeline
- ImageSegmentationPipeline
- ZeroShotImageClassificationPipeline
- ObjectDetectionPipeline
- ZeroShotObjectDetectionPipeline
- DocumentQuestionAnsweringPipeline
- TextToAudioPipeline
- ImageToImagePipeline
- DepthEstimationPipeline

</pre>
