<div class="translator">
  <h1>Translator</h1>
  <div class="select-container">
    <select [formControl]="sourceLangForm">
      <option value="en">영어</option>
      <option value="ko">한국어</option>
    </select>
    <select [formControl]="targetLangForm">
      <option value="ko">한국어</option>
      <option value="en">영어</option>
    </select>
  </div>

  <textarea [formControl]="sourceTextForm" placeholder="번역할 영어 텍스트를 입력하세요"></textarea>
  <button [disabled]="loading ? true : null" (click)="translate()">
    <span id="spinner" *ngIf="loading && sourceText?.length">🔄</span>번역
  </button>
  <div class="result" *ngIf="translatedText">
    <p>{{ translatedText }}</p>
  </div>
</div>
