<h1>Text2text generation</h1>

<textarea id="long-text-input" [formControl]="textForm" placeholder="Enter your text here..."></textarea>
<button id="generate-button" [disabled]="loading() ? true : null" (click)="generate()">
  <span [ngClass]="{'loader': loading() && textForm.value?.length ? true : false}"></span> Run
</button>
<p class="elapsed-time">{{ elapsedTime() | number: '1.1-1' }} Seconds</p>
<div id="output-div" *ngIf="output()?.length">
  <table>
    <tr>
      <th>Generated Text</th>
    </tr>
    <tr *ngFor="let item of output()">
      <td>{{ item.generated_text }}</td>
    </tr>
  </table>
</div>


