<a routerLink="/image-ai/image-to-text" routerLinkActive="active">Image to Text</a>
<a routerLink="/image-ai/image-classification" routerLinkActive="active">Image Classification</a>
<a routerLink="/image-ai/image-segmentation" routerLinkActive="active">Image Segmentation</a>
<a routerLink="/image-ai/zero-shot-image-classification" routerLinkActive="active">ZeroShot Image Classification</a>
<a routerLink="/image-ai/image-feature-extraction" routerLinkActive="active">Image Feature Extraction</a>
<a routerLink="/image-ai/object-detection" routerLinkActive="active">Object Detection</a>
<a routerLink="/image-ai/zero-shot-object-detection" routerLinkActive="active">ZeroShot Object Detection</a>
<a routerLink="/image-ai/document-question-answering" routerLinkActive="active">Document Question Answering</a>
<a routerLink="/image-ai/image-to-image" routerLinkActive="active">Image to Image</a>
<a routerLink="/image-ai/depth-estimation" routerLinkActive="active">Depth Estimation</a>

<div class="container">
  <router-outlet></router-outlet>
</div>
